<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>bigbuy Sync</h2>

            <hr />
            <h4><i>This page syncs with the vendor so that the WhiteFoxx Vendors Sync system can perform the required actions.</i></h4>
            <hr />

            <hr />
            <table>
            <% if (synced) { %>
                <tr><td style="color: #00ff00;"><b>SYNCED</b></td></tr>
            <% } else { %>
                <tr><td style="color: #ff0000;"><b>NOT SYNCED</b></td></tr>
            <% } %>
            </table>
            <hr />

            <hr />
            <table>
                <form action="/bigbuy-sync" method="POST">
                <tr>
                    <td><input type="text" name="username" placeholder="<%= username %>" /></td>
                    <td><input type="password" name="password" placeholder="<%= passwordPlaceholder %>" /></td>
                    <td>
                        <% if (synced) { %>
                            <input type="submit" value="Re-Sync" />
                        <% } else { %>
                            <input type="submit" value="Sync" />
                        <% } %>
                    </td>
                </tr>
                </form>
            </table>
            <hr />

            <hr />
            <table>
                <tr><td><a href="/storefront">[GO TO STOREFRONT]</a></td></tr>
            </table>
            <hr />
        </div>
    </body>
</html>
