<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>bigbuy Product Stock Info</h2>
            <table>
                <tr>
                    <th align="left">SKU</th>
                    <th align="left">Product</th>
                </tr>
                <tr>
                    <td>63248</td>
                    <td>https://www.bigbuy.eu/en/electric-scooter-hoverboard-brigmton-bboard-101-10-black.html</td>
                </tr>
                <tr>
                    <td>34601</td>
                    <td>https://www.bigbuy.eu/en/ladies-sunglasses-guess-gu0243f-o46.html</td>
                </tr>
                <tr>
                    <td>13412</td>
                    <td>https://www.bigbuy.eu/en/btk-speed-training-resistance-parachute.html</td>
                </tr>
            </table>
            <hr />
            <form action="/bigbuy-product-stock-info" method="POST">
                <input type="text" name="sku" placeholder="SKU" />
                <input type="text" name="quantity" placeholder="Quantity" />
                <input type="submit" value="Get Product Stock Info" />
            </form>
            <hr />
            <% if (stockChecked) { %>
                <% if (inStock) { %>
                    <p>IN STOCK</p>
                <% } else { %>
                    <p>NOT IN STOCK</p>
                <% } %>
            <% } %>
        </div>
    </body>
</html>
