<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>bigbuy Product Shipping Info</h2>
            <table>
                <tr>
                    <th align="left">SKU</th>
                    <th align="left">Product</th>
                </tr>
                <tr>
                    <td>63248</td>
                    <td>https://www.bigbuy.eu/en/electric-scooter-hoverboard-brigmton-bboard-101-10-black.html</td>
                </tr>
                <tr>
                    <td>34601</td>
                    <td>https://www.bigbuy.eu/en/ladies-sunglasses-guess-gu0243f-o46.html</td>
                </tr>
                <tr>
                    <td>13412</td>
                    <td>https://www.bigbuy.eu/en/btk-speed-training-resistance-parachute.html</td>
                </tr>
            </table>
            <hr />
            <form action="/bigbuy-product-shipping-info" method="POST">
                <select name="countryCode">
                    <option value="GB">United Kingdom</option>
                </select>
                <input type="text" name="sku" placeholder="SKU" />
                <input type="text" name="quantity" placeholder="Quantity" />
                <input type="submit" value="Get Product Shipping Info">
            </form>
            <% if (shippingInfoAvailable) { %>
                <hr />
                <table>
                    <tr>
                        <th>Shipping Service</th>
                        <th>Shipping Time</th>
                        <th>Shipping Cost</th>
                    </tr>
                    <% for (var i = 0; i < shippingInfo.length; i++) { %>
                        <tr>
                            <td><%= shippingInfo[i].service %></td>
                            <td><%= shippingInfo[i].time %></td>
                            <td><%= shippingInfo[i].cost %></td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </div>
    </body>
</html>
