<hr />
<table>
    <tr>
        <td>Billing Info</td>
        <% if (billingInfoAdded) { %>
            <td style="color: #00ff00;"><b>ADDED</b></td>
            <td><a href="/billing-info">[UPDATE BILLING INFO]</a></td>
        <% } else { %>
            <td style="color: #ff0000;"><b>NOT ADDED</b></td>
            <td><a href="/billing-info">[ADD BILLING INFO]</a></td>
        <% } %>
    </tr>
</table>
<hr />
