<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>Billing Info</h2>

            <hr />
            <h4><i>Billing Info is used to make purchases from vendors.</i></h4>
            <hr />

            <hr />
            <form action="/billing-info" method="POST">
                <p><input type="text" name="firstName" placeholder="First Name" /></p>
                <p><input type="text" name="lastName" placeholder="Last Name" /></p>
                <p><input type="text" name="emailAddress" placeholder="Email Address" /></p>
                <p><input type="text" name="mobilePhoneNumber" placeholder="Mobile Phone Number" /></p>
                <p><input type="text" name="addressLine1" placeholder="Address Line 1" /></p>
                <p><input type="text" name="addressLine2" placeholder="Address Line 2" /></p>
                <p><input type="text" name="townCity" placeholder="Town/City" /></p>
                <p><input type="text" name="county" placeholder="County" /></p>
                <p><input type="text" name="postcode" placeholder="Postcode" /></p>
                <p><select name="countryCode">
                    <option value="GB">United Kingdom</select>
                </select></p>
                <p><input type="text" name="cardNumber" placeholder="Card Number" /></p>
                <p><input type="text" name="expiryDate" placeholder="MM / YY" /></p>
                <p><input type="text" name="cvv" placeholder="CVV" /></p>
                <p><input type="submit" value="Add Billing Info"></p>
            </form>
            <hr />
        </div>
    </body>
</html>
