<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>chinavasion</h2>
            <hr />
            <% if (synced) { %>
                <p>SYNCED</p>
            <% } else { %>
                <p>NOT SYNCED</p>
            <% } %>
            <form action="/chinavasion-sync" method="POST">
                <input type="text" name="api_key" placeholder=<%= apiKeyPlaceholder %> />
                <input type="submit" value="Sync">
            </form>
        </div>
    </body>
</html>
