<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>dealextreme Purchase</h2>
            <table>
                <tr>
                    <th align="left">SKU</th>
                    <th align="left">Product</th>
                    <th align="left">Price</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <hr />
            <form action="/dealextreme-purchase" method="POST">
                <input type="submit" value="Purchase" />
            </form>
            <hr />
        </div>
    </body>
</html>
