<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>dealextreme Product Shipping Info</h2>
            <table>
                <tr>
                    <th align="left">SKU</th>
                    <th align="left">Product</th>
                </tr>
                <tr>
                    <td>178465</td>
                    <td>http://www.dx.com/p/walkera-v450d03-rechargeable-6-ch-radio-control-3d-flight-stunt-r-c-helicopter-blue-178465#.WwPAkBzTXeS</td>
                </tr>
                <tr>
                    <td>370262</td>
                    <td>http://www.dx.com/p/motospeed-g11-2-4ghz-wireless-usb-2-0-1200dpi-led-optical-mouse-black-370262#.WwPNERzTXeQ</td>
                </tr>
                <tr>
                    <td>852520766</td>
                    <td>http://www.dx.com/p/samsung-galaxy-tab-a-2016-7-0-t285-lte-tablet-pc-with-1-5gb-ram-8gb-rom-silver-852520766#.WwPNYhzTXeQ</td>
                </tr>
            </table>
            <hr />
            <form action="/dealextreme-product-shipping-info" method="POST">
                <select name="countryCode">
                    <option value="GB">United Kingdom</option>
                </select>
                <input type="text" name="sku" placeholder="SKU" />
                <input type="text" name="quantity" placeholder="Quantity" />
                <input type="submit" value="Get Product Shipping Info">
            </form>
            <% if (shippingInfoAvailable) { %>
                <hr />
                <table>
                    <tr>
                        <th>Shipping Service</th>
                        <th>Shipping Time</th>
                        <th>Shipping Cost</th>
                    </tr>
                    <% for (var i = 0; i < shippingInfo.length; i++) { %>
                        <tr>
                            <td><%= shippingInfo[i].service %></td>
                            <td><%= shippingInfo[i].time %></td>
                            <td><%= shippingInfo[i].cost %></td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </div>
    </body>
</html>
