<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>epetdiscount Product Stock Info</h2>
            <table>
                <tr>
                    <th align="left">SKU</th>
                    <th align="left">Product</th>
                </tr>
                <tr>
                    <td>399957557276</td>
                    <td>https://epetdiscount.com/products/acana-adult-large-breed-11-4kg</td>
                </tr>
                <tr>
                    <td>489534357532</td>
                    <td>https://epetdiscount.com/collections/apparel/products/kutya-pulcsi-milton-m-50cm-szurke-kek-1</td>
                </tr>
                <tr>
                    <td>499824197660</td>
                    <td>https://epetdiscount.com/collections/fish-aquariums-accessories/products/juwel-akvarium-trigon-350-led-sotetbarna-1</td>
                </tr>
                <tr>
                    <td>499824164892</td>
                    <td>https://epetdiscount.com/collections/fish-aquariums-accessories/products/juwel-akvarium-trigon-350-led-fekete-1</td>
                </tr>
            </table>
            <hr />
            <form action="/epetdiscount-product-stock-info" method="POST">
                <input type="text" name="sku" placeholder="SKU" />
                <input type="text" name="quantity" placeholder="Quantity" />
                <input type="submit" value="Get Product Stock Info" />
            </form>
            <hr />
            <% if (stockChecked) { %>
                <% if (inStock) { %>
                    <p>IN STOCK</p>
                <% } else { %>
                    <p>NOT IN STOCK</p>
                <% } %>
            <% } %>
        </div>
    </body>
</html>
