<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>hjcloseouts Product Shipping Info</h2>
            <table>
                <tr>
                    <th align="left">SKU</th>
                    <th align="left">Product</th>
                </tr>
                <tr>
                    <td>139511</td>
                    <td>http://www.hjcloseouts.com/product/handy-heavy-duty-pineapple-corer-slicer/</td>
                </tr>
                <tr>
                    <td>140918</td>
                    <td>http://www.hjcloseouts.com/product/cosmetics-assorted-true-lipz-flash-lip-gloss-led-light-mirror-128-fl-oz-3/</td>
                </tr>
                <tr>
                    <td>65718</td>
                    <td>http://www.hjcloseouts.com/product/swicherz-holiday-black-duck-the-stickable-toy/</td>
                </tr>
            </table>
            <hr />
            <form action="/hjcloseouts-product-shipping-info" method="POST">
                <select name="countryCode">
                    <option value="GB">United Kingdom</option>
                    <option value="US">United States</option>
                </select>
                <input type="text" name="sku" placeholder="SKU" />
                <input type="text" name="quantity" placeholder="Quantity" />
                <input type="submit" value="Get Product Shipping Info">
            </form>
            <% if (shippingInfoAvailable) { %>
                <hr />
                <table>
                    <tr>
                        <th>Shipping Service</th>
                        <th>Shipping Time</th>
                        <th>Shipping Cost</th>
                    </tr>
                    <% for (var i = 0; i < shippingInfo.length; i++) { %>
                        <tr>
                            <td><%= shippingInfo[i].service %></td>
                            <td><%= shippingInfo[i].time %></td>
                            <td><%= shippingInfo[i].cost %></td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </div>
    </body>
</html>
