<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>hjcloseouts Product Stock Info</h2>
            <table>
                <tr>
                    <th align="left">SKU</th>
                    <th align="left">Product</th>
                </tr>
                <tr>
                    <td>139511</td>
                    <td>http://www.hjcloseouts.com/product/handy-heavy-duty-pineapple-corer-slicer/</td>
                </tr>
                <tr>
                    <td>140918</td>
                    <td>http://www.hjcloseouts.com/product/cosmetics-assorted-true-lipz-flash-lip-gloss-led-light-mirror-128-fl-oz-3/</td>
                </tr>
                <tr>
                    <td>65718</td>
                    <td>http://www.hjcloseouts.com/product/swicherz-holiday-black-duck-the-stickable-toy/</td>
                </tr>
            </table>
            <hr />
            <form action="/hjcloseouts-product-stock-info" method="POST">
                <input type="text" name="sku" placeholder="SKU" />
                <input type="text" name="quantity" placeholder="Quantity" />
                <input type="submit" value="Get Product Stock Info" />
            </form>
            <hr />
            <% if (stockChecked) { %>
                <% if (inStock) { %>
                    <p>IN STOCK</p>
                <% } else { %>
                    <p>NOT IN STOCK</p>
                <% } %>
            <% } %>
        </div>
    </body>
</html>
