<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>loloprice</h2>
            <hr />
            <% if (synced) { %>
                <p>SYNCED</p>
            <% } else { %>
                <p>NOT SYNCED</p>
            <% } %>
            <form action="/loloprice-sync" method="POST">
                <input type="text" name="username" placeholder=<%= username %> />
                <input type="password" name="password" placeholder=<%= passwordPlaceholder %> />
                <input type="submit" value="Sync">
            </form>
        </div>
    </body>
</html>
