<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <h2>Order Tracking</h2>
            <hr />
            <h4><i>This page simulates the WhiteFoxx Web Client's order tracking features.</i></h4>
            <hr />
            <hr />
            <h4>Select Order</h4>
            <hr />
        </div>
    </body>
</html>
