<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>Shopify Checkout</h2>
            <hr />
            <p>THIS PAGE SIMULATES THE PAGE SHOPIFY DIRECTS THE CUSTOMER TO AFTER THEY HAVE ATTEMPETED TO COMPLETE A PURCHASE.</p>
            <hr />
            <hr />
            <% if (0) { %>
                <h4>Your order was successful.</h4>
                <p>View tracking details <a href="">here</a>.
            <% } else { %>
                <h4>Your order was NOT successful.</h4>
            <% } %>
            <hr />
        </div>
    </body>
</html>
