<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>Purchase</h2>
            <table>

                <tr>
                    <th align="left">Vendor</th>
                    <th align="left">SKU</th>
                    <th align="left">Product</th>
                    <th align="left">Options</th>
                    <th align="left">Price</th>
                </tr>

                <tr>
                    <td>bigbuy</td>
                    <td>18292</td>
                    <td>https://www.bigbuy.eu/en/colors-handbag-mirror-with-built-in-brush.html</td>
                    <td>None</td>
                    <td>€0.72</td>
                </tr>
                <tr>
                    <td>bigbuy</td>
                    <td>13292</td>
                    <td>https://www.bigbuy.eu/en/emoji-plush-key-chain.html</td>
                    <td>
                        <select>
                            <option value="wink">Wink</option>
                            <option value="poo">Poo</option>
                            <option value="love">Love</option>
                            <option value="laugh">Laugh</option>
                            <option value="kiss">Kiss</option>
                            <option value="cool">Cool</option>
                        </select>
                    </td>
                    <td>€0.59</td>
                </tr>
                <tr>
                    <td>bigbuy</td>
                    <td>17578</td>
                    <td>https://www.bigbuy.eu/en/adhesive-blackboard-pack-of-2.html</td>
                    <td>None</td>
                    <td>€0.59</td>
                </tr>

                <tr>
                    <td>chinavasion</td>
                    <td>SKU</td>
                    <td>URI</td>
                    <td>OPTIONS</td>
                    <td>PRICE</td>
                </tr>

            </table>
            <hr />
            <hr />
        </div>
    </body>
</html>
