<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>Select Shipping</h2>

            <hr />
            <h4><i>This page simulates where the customer selects shipping methods before being directed to Shopify checkout.</i></h4>
            <hr />

            <hr />
            TODO: SELECT COUNTRY
            <hr />
            <% if (0) { %>
                <p>THERE ARE NO PRODUCTS TO ADD SHIPPING FOR</p>
                <hr />
            <% } else { %>
            <% for (var vendor = 0; vendor < cart.length; vendor++) { %>
                <% var vendorCart = cart[vendor]; %>
                <% var vendorProducts = vendorCart.products; %>
                <hr />
                <table>
                <% for (var vendorProduct = 0; vendorProduct < vendorProducts.length; vendorProduct++) { %>
                    <tr>
                    <% var product = vendorProducts[vendorProduct]; %>
                    <% var productVendor = product.vendor; %>
                    <% var productSku = product.sku; %>
                    <% var productURI = product.URI; %>
                    <% var productOption = product.option; %>
                    <% if (!productOption) { %>
                        <% productOption = 'No Option'; %>
                    <% } else { %>
                        <% productOption = productOption.option; %>
                    <% } %>
                    <% var productQuantity = product.quantity; %>
                    <% var productCost = product.totalCost; %>
                    <td><%= productVendor %></td>
                    <td><%= productSku %></td>
                    <td><%= productURI %></td>
                    <td><%= productOption %></td>
                    <td>x<%= productQuantity %></td>
                    <td><%= productCost %></td>
                    </tr>
                <% } %>
                </table>
                <table>
                    <tr>
                        <th align="left">Select Option</th>
                        <th align="left">Service</th>
                        <th align="left">Time</th>
                        <th align="left">Cost</th>
                    </tr>
                    <% var vendorShippingOptions = vendorCart.shipping; %>
                    <% for (var vendorShipping = 0; vendorShipping < vendorShippingOptions.length; vendorShipping++) { %>
                        <% var vendorShippingOption = vendorShippingOptions[vendorShipping]; %>
                        <% var shippingService = vendorShippingOption.service; %>
                        <% var shippingTime = vendorShippingOption.time; %>
                        <% var shippingCost = vendorShippingOption.cost; %>
                        <tr>
                            <td><input type="radio" /></td>
                            <td><%= shippingService %></td>
                            <td><%= shippingTime %></td>
                            <td><%= shippingCost %></td>
                        </tr>
                    <% } %>
                </table>
                <hr />
            <% } %>
                <hr />
                <% if (1) { %>
                    <p>Total Shipping Cost: -</p>
                <% } else { %>
                    <p>Total Shipping Cost: £50</p>
                <% } %>
                <p>Total Product Cost: £100</p>
                <% if (1) { %>
                    <p>Total Cost: -</p>
                <% } else { %>
                    <p>Total Cost: £50</p>
                <% } %>
                <hr />

                <hr />
                <button>Continue</button>
                <hr />
            <% } %>
        </div>
    </body>
</html>
