<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <h2>Shopify Checkout</h2>

            <hr />
            <h4><i>This page simulates Shopify's checkout process.</i></h4>
            <h4><i>Before reaching this page, the system alters product shipping costs in Better Shipping so that the final shipping cost is correct in Shopify's checkout.</i></h4>
            <hr />

            <hr />
            <h4>Shipping address</h4>
            <form method="" action="">
                <p><input type="text" name="" placeholder="Email or mobile phone number" /></p>
                <p><input type="text" name="" placeholder="First name (optional)" /></p>
                <p><input type="text" name="" placeholder="Last name" /></p>
                <p><input type="text" name="" placeholder="Address" /></p>
                <p><input type="text" name="" placeholder="Apartment, suite, etc. (optional)" /></p>
                <p><input type="text" name="" placeholder="City" /></p>
                <p>
                <select>
                    <option value="GB">United Kingdom</option>
                </select>
                </p>
                <p><input type="text" name="" placeholder="Postcode" /></p>
            </form>
            <hr />
            <hr />
            <h4>Shipping method</h4>
            <p>Multiple: £50</p>
            <hr />
            <hr />
            <p>CUSTOMER ENTERS THEIR BILLING DETAILS</p>
            <hr />
            <hr />
            <button>Complete Purchase</button>
            <hr />
        </div>
    </body>
</html>
