<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <h2>Storefront</h2>

            <hr />
            <h4><i>This page simulates the storefront where customers can add products to their cart and view their cart.</i></h4>
            <hr />

            <%- include vendors-sync-include.ejs %>

            <hr />
            <table>
                <tr>
                    <td>
                        <span>Country</span>
                        <select>
                            <option value="">United Kingdom</option>
                            <option value="">United States</option>
                        </select>
                    </td>
                    <td>
                        <span>Currency</span>
                        <select id="currency-select">
                        <% for (var i = 0; i < currencies.length; i++) { %>
                            <% var c = currencies[i].currency; %>
                            <% if (currency == c) { %>
                            <option selected="selected" value="<%= c %>"><%= c %></option>
                            <% } else { %>
                            <option value="<%= c %>"><%= c %></option>
                            <% } %>
                        <% } %>
                        </select>
                        <script>
                        $('#currency-select').change(function (e) {
                            e.preventDefault();
                            var currency = $('#currency-select').val();
                            $.post('/currency', {
                                currency: currency
                            }, function () {
                                location.reload();
                            });
                        });
                        </script>
                    </td>
                </tr>
            </table>
            <hr />

            <hr />
            <h4>Products</h4>
            <% for (var i = 0; i < products.length; i++) { %>
            <% var product = products[i]; %>
            <table>
                <tr>
                    <form id="<%= product.sku %>-form" method="POST" action="/add-to-cart">
                        <input type="hidden" id="<%= product.sku %>-vendor" name="vendor" value="<%= product.vendor %>" />
                        <td><%= product.vendor %></td>
                        <input type="hidden" name="sku" value="<%= product.sku %>" />
                        <td><%= product.sku %></td>
                        <input type="hidden" name="uri" value="<%= product.uri %>" />
                        <td><%= product.uri %></td>
                        <td>
                            <select id="<%= product.sku %>-option" name="option">
                                <% for (var j = 0; j < product.options.length; j++) { %>
                                <option value="<%= product.options[j].value %>"><%= product.options[j].option %></option>
                                <% } %>
                            </select>
                        </td>
                        <input type="hidden" name="cost" value="<%= product.cost.value %>" />
                        <td><%= product.cost.value %></td>
                        <td><input type="text" id="<%= product.sku %>-quantity" name="quantity" value="1" /></td>
                        <td><button type="submit" id="<%= product.sku %>-add-to-cart">Add to Cart</button></td>
                        <td><a id="<%= product.sku %>-product-shipping-link" href="">[VIEW ESTIMATED SHIPPING INFO]</a></td>
                    </form>
                </tr>
            </table>
            <table id="<%= product.sku %>-product-shipping-info" class="shipping-info" style="display: none;">
                <tr>
                    <th align="left">Service</th>
                    <th align="left">Time</th>
                    <th align="left">Cost</th>
                </tr>
            </table>
            <table id="<%= product.sku %>-product-stock-info" class="stock-info" style="display: none;">
                <tr>
                    <td>Checking stock...</td>
                </tr>
            </table>
            <script>
            $('#<%= product.sku %>-product-shipping-link').click(function (e) {
                e.preventDefault();

                var productShippingLink = $('#<%= product.sku %>-product-shipping-link');
                var productShippingLinkId = productShippingLink.attr('id');
                var productShippingLinkText = productShippingLink.text();
                var skus = productShippingLinkId.split('-');
                var sku;
                if (skus.length > 4) {
                    sku = skus[0] + '-' + skus[1];
                } else {
                    sku = skus[0];
                }
                var vendor = $('#' + sku + '-vendor').val();
                var quantity = $('#' + sku + '-quantity').val();
                var option = null;  // TODO
                var productShippingInfo = $('#' + sku + '-product-shipping-info');

                if (productShippingLinkText.indexOf('VIEW') != -1) {
                    productShippingLink.text('[HIDE ESTIMATED SHIPPING INFO]');
                    productShippingInfo.show();
                    productShippingInfo.find('tr:gt(0)').remove();
                    productShippingInfo.append(
                            '<tr>' +
                            '<td>' + 'Loading...' + '</td>' +
                            '</tr>'
                            );
                    var countryCode = 'GB';
                    $.post('/product-shipping-info', {
                        countryCode: countryCode,
                        vendor: vendor,
                        sku: sku,
                        option: option,
                        quantity: quantity
                    }, function (shippingInfo) {
                        shippingInfo = JSON.parse(shippingInfo);
                        productShippingInfo.find('tr:gt(0)').remove();
                        shippingInfo.forEach(function (shippingInfo) {
                            var service = shippingInfo.service;
                            var time = shippingInfo.time;
                            var cost = shippingInfo.cost;
                            productShippingInfo.append(
                                    '<tr>' +
                                    '<td>' + service + '</td>' +
                                    '<td>' + time + '</td>' +
                                    '<td>' + cost + '</td>' +
                                    '</tr>'
                                    );
                        });
                    });
                } else {
                    productShippingLink.text('[VIEW ESTIMATED SHIPPING INFO]');
                    productShippingInfo.hide();
                    productShippingInfo.find('tr:gt(0)').remove();
                    productShippingInfo.append(
                            '<tr>' +
                            '<td>' + 'Loading...' + '</td>' +
                            '</tr>'
                            );
                }
            });
            $('#<%= product.sku %>-quantity').keypress(function () {
                var productShippingLink = $('#<%= product.sku %>-product-shipping-link');
                var productShippingLinkId = productShippingLink.attr('id');
                var skus = productShippingLinkId.split('-');
                var sku;
                if (skus.length > 4) {
                    sku = skus[0] + '-' + skus[1];
                } else {
                    sku = skus[0];
                }
                var productShippingInfo = $('#' + sku + '-product-shipping-info');
                productShippingLink.text('[VIEW ESTIMATED SHIPPING INFO]');
                productShippingInfo.hide();
                productShippingInfo.find('tr:gt(0)').remove();
                productShippingInfo.append(
                        '<tr>' +
                        '<td>' + 'Loading...' + '</td>' +
                        '</tr>'
                        );
            });
            $('#<%= product.sku %>-add-to-cart').click(function (e) {
                e.preventDefault();

                var productShippingLink = $('#<%= product.sku %>-product-shipping-link');
                var productShippingLinkId = productShippingLink.attr('id');
                var skus = productShippingLinkId.split('-');
                var sku;
                if (skus.length > 4) {
                    sku = skus[0] + '-' + skus[1];
                } else {
                    sku = skus[0];
                }
                var vendor = $('#' + sku + '-vendor').val();
                var option = $('#' + sku + '-option').val();
                alert(option);
                var quantity = $('#' + sku + '-quantity').val();
                var productStockInfo = $('#' + sku + '-product-stock-info');

                productStockInfo.css('background-color', '#fde058');
                productStockInfo.text('Checking stock...');
                productStockInfo.show();

                $.post('/product-stock-info', {
                    vendor: vendor,
                    sku: sku,
                    option: option,
                    quantity: quantity
                }, function (isInStock) {
                    if (isInStock) {
                        productStockInfo.css('background-color', '#00ff00');
                        productStockInfo.text('ADDING PRODUCT TO CART. PRODUCT IS IN STOCK IN SELECTED QUANTITY.');
                        setTimeout(function () {
                            $('#' + sku + '-form').submit();
                        }, 3000);
                    } else {
                        productStockInfo.css('background-color', '#ff0000');
                        productStockInfo.text('CAN\'T ADD TO CART. PRODUCT NOT IN STOCK IN SELECTED QUANTITY.');
                    }
                });
            });
            </script>
            <% } %>
            <hr />

            <hr />
            <h4>Cart</h4>
            <% if (!cart.length) { %>
                <p>Cart is empty</p>
            <% } else { %>
                <table>
                <% for (var vendor = 0; vendor < cart.length; vendor++) { %>
                    <% var vendorCart = cart[vendor]; %>
                    <% var vendorProducts = vendorCart.products; %>
                    <% for (var vendorProduct = 0; vendorProduct < vendorProducts.length; vendorProduct++) { %>
                        <tr>
                        <% var product = vendorProducts[vendorProduct]; %>
                        <% var productVendor = product.vendor; %>
                        <% var productSku = product.sku; %>
                        <% var productURI = product.uri; %>
                        <% var productOption = product.option; %>
                        <% if (!productOption) { %>
                            <% productOption = 'No Option'; %>
                        <% } else { %>
                            <% productOption = productOption.option; %>
                        <% } %>
                        <% var productQuantity = product.quantity; %>
                        <% var productCost = product.cost.value; %>
                        <td><%= productVendor %></td>
                        <td><%= productSku %></td>
                        <td><%= productURI %></td>
                        <td><%= productOption %></td>
                        <td>x<%= productQuantity %></td>
                        <td><%= productCost %></td>
                        <td><a  href="" id="<%= product.sku %>-remove-all">[REMOVE ALL]</a></td>
                        <script>
                        $('#<%= product.sku %>-remove-all').click(function (e) {
                            var sku = '<%= product.sku %>';
                            $.post('/remove-from-cart', {
                                sku: sku
                            });
                        });
                        </script>
                        </tr>
                    <% } %>
                <% } %>
                </table>
            <% } %>
            <hr />

            <hr />
                <button><a href="/select-shipping">Checkout</a></button>
            <hr />
        </div>
    </body>
</html>
