<hr />
<table>
<% vendors.forEach(function (vendor) { %>
    <tr>
        <td><%= vendor.vendor %></td>
        <% if (vendor.synced) { %>
            <td style="color: #00ff00;"><b>SYNCED</b></td>
            <td><a href="<%= vendor.syncURI %>">[RE-SYNC]</a></td>
        <% } else { %>
            <td style="color: #ff0000;"><b>NOT SYNCED</b></td>
            <td><a href="<%= vendor.syncURI %>">[SYNC]</a></td>
        <% } %>
    </tr>
<% }); %>
</table>
<hr />
